

<!-- <div class="w-[100vw] h-[60vh] bg-teal-700">

    <div class="w-[90vh] h-[30vh] bg-slate-600 ">
        <img class="w-[900px] h-[450px]" src="./assets/electronics.png" alt="">
    </div>

</div> -->


<div></div>
  <owl-carousel-o [options]="customOptions" >

    <ng-template carouselSlide>
        <img src="./assets/electronics.png" alt="">
    </ng-template>  

    <ng-template carouselSlide>
        <img src="./assets/womens wear.png" alt="">
    </ng-template>  

    <ng-template carouselSlide>
        <img src="./assets/mens waer.png" alt="">
    </ng-template>  

  </owl-carousel-o>
  <div></div>


  <app-real-api></app-real-api>


